
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9

sqlalchemy>=2.0.0

redis>=5.0.0

langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-text-splitters>=0.3.0

passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
bcrypt>=4.0.0
langgraph-checkpoint-postgres
psycopg[binary]

pydantic>=2.0.0
pydantic-settings>=2.0.0
python-dotenv>=1.0.0
qdrant-client
pypdf>=6.0.0

pillow>=10.0.0
qrcode>=7.4.0
aiofiles>=23.0.0
httpx>=0.27.0
pymysql
apscheduler>=3.10.0
sentence-transformers>=3.0.0
unstructured>=0.15.0
apscheduler